<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * District Commerce
 *
 * @category    District
 * @package     Stripe
 * @author      District Commerce <support@districtcommerce.com>
 * @copyright   Copyright (c) 2015 District Commerce (http://districtcommerce.com)
 *
 */
-->
<config>
    <modules>
        <District_Stripe>
            <version>1.0.0</version>
        </District_Stripe>
    </modules>
    <global>
        <models>
            <stripe>
                <class>District_Stripe_Model</class>
                <resourceModel>stripe_mysql4</resourceModel>
            </stripe>
            <stripe_mysql4>
                <class>District_Stripe_Model_Mysql4</class>
                <entities>
                    <customer>
                        <table>district_stripe_customer</table>
                    </customer>
                    <order_failed>
                        <table>district_stripe_order_failed</table>
                    </order_failed>
                </entities>
            </stripe_mysql4>
        </models>
        <helpers>
            <stripe>
                <class>District_Stripe_Helper</class>
            </stripe>
        </helpers>
        <blocks>
            <stripe>
                <class>District_Stripe_Block</class>
            </stripe>
        </blocks>
        <events>
            <controller_front_init_before>
                <observers>
                    <stripe>
                        <class>District_Stripe_Model_Observer_Autoloader</class>
                        <type>singleton</type>
                        <method>controllerFrontInitBefore</method>
                    </stripe>
                </observers>
            </controller_front_init_before>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <stripe>
                        <class>District_Stripe_Model_Observer_Orderfailed</class>
                        <type>singleton</type>
                        <method>save</method>
                    </stripe>
                </observers>
            </sales_model_service_quote_submit_failure>
        </events>
        <resources>
            <district_stripe_setup>
                <setup>
                    <module>District_Stripe</module>
                    <class>District_Stripe_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </district_stripe_setup>
            <!--<stripe_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stripe_write>
            <stripe_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stripe_read>-->
        </resources>
        <payment>
            <cc>
                <types>
                    <DC>
                        <code>DC</code>
                        <name>Diners Club</name>
                        <order>60</order>
                    </DC>
                </types>
            </cc>
        </payment>
    </global>
    <default>
        <payment>
            <stripe_cc>
                <model>stripe/method_cc</model>
                <title>Stripe</title>
                <api_secret_key backend_model="adminhtml/system_config_backend_encrypted" />
                <api_publishable_key backend_model="adminhtml/system_config_backend_encrypted" />
                <payment_action>authorize_capture</payment_action>
                <cctype>AE,MC,VI</cctype>
                <save_cc_enabled>1</save_cc_enabled>
                <jquery_enabled>1</jquery_enabled>
                <jquery_admin_enabled>1</jquery_admin_enabled>
            </stripe_cc>
        </payment>
    </default>
    <frontend>
        <routers>
            <stripe>
                <use>standard</use>
                <args>
                    <module>District_Stripe</module>
                    <frontName>stripe</frontName>
                </args>
            </stripe>
        </routers>
        <layout>
            <updates>
                <stripe>
                    <file>district/stripe/stripe.xml</file>
                </stripe>
            </updates>
        </layout>
        <translate>
            <modules>
                <stripe>
                    <files>
                        <default>District_Stripe.csv</default>
                    </files>
                </stripe>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <District_Stripe after="Mage_Adminhtml">District_Stripe</District_Stripe>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <stripe>
                    <file>district/stripe/stripe.xml</file>
                </stripe>
            </updates>
        </layout>
        <translate>
            <modules>
                <stripe>
                    <files>
                        <default>District_Stripe.csv</default>
                    </files>
                </stripe>
            </modules>
        </translate>
    </adminhtml>
</config>
